@import url('https://fonts.googleapis.com/css2?family=Halant:wght@400;600&family=Nunito+Sans:wght@400;600&display=swap');

  /* Universal selectors */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

:root {
  --color-60: #ffffff;
  --color-30: #F79A1F;
  --color-10: #EB4F47;
  --color-transparent: rgba(255,255,255,20%);
  --color-transparent-70: rgba(255,255,255,70%);
}

h2{
  margin-bottom: 1.5rem;
  font-family: 'Halant', serif;
  padding-left: 1%;
  color: var(--color-10);
}
h4{
  text-decoration: underline;
  font-size: 1.2rem;
}

ul {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

input[type=radio] {
  cursor: pointer;
  transform: scale(1.2);
}
footer{
  width: 80%;
  margin: 0 auto;
  height: 40vh;
  border: 1px solid black;

}

/* Navigation Bar */

.nav-bar {
  position: sticky;
  top:0;
  width: 100%;
  padding: 0.5rem 10% 0.5rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 1px 1px 5px black;
  z-index: 999;
}


.logo-container {
  width: fit-content;
  cursor: pointer;
}

.nav-item-container {
  height: fit-content;
  width: fit-content;
}
.hamburger{
  display: none;
}
.main-page{
  z-index: 1;
}

 /* Home Page Styling */

.hero-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.hero-image{
  width: 100%;
  object-fit: contain;
}
.radio-btn{
  margin:0.5rem;
  display: flex;
  gap:0.5rem;
}
.home{
  width: 80%;
  margin: 0 auto;
}
.category-container{
  display: flex;
  width: 100%;
  height: fit-content;
}
.category-card{
  display: flex;
  flex-direction: column;
  width: 33.33%;
  height: 30vh;
}
.card-images{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-description{
  position: relative;
  top:-50%;
  flex-grow: 1;
  padding: 0.5rem;
  text-align: center;
  background-color: var(--color-transparent-70);
  cursor: pointer;
  font-size: 1rem;
}
.promotion-img-container{
  width: 100%;
  height: 40vh;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.promotion-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.promotion-description-container{
  position: relative;
  top: -60%;
  left: 5%;
  width: 80%;
  height: 42%;
  padding: 0 1% 1% 1%;
  background: linear-gradient(90deg,var(--color-transparent) 30%, rgba(0,0,0,0%) 70%);
}
.promotion-text{
  font-family: 'Halant', sans-serif;
  font-size: 3rem;
  color: var(--color-60);
}
.letter-highlight{
  font-size: 4rem;
  font-weight: bolder;
  font-family: 'Halant', sans-serif;
  color: var(--color-10);
}
.btn-basic{
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-10);
  background-color: transparent;
  font-size: 1.2rem;
  color: var(--color-10);
  cursor: pointer;
}
.btn-basic:active{
  color: white;
  background-color: var(--color-10);
}
.footer-image-container{
  height: 40vh;
}
.footer-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 -10rem;
}
.footer-brand{
  position: relative;
  top: -80%;
  left: 10%;
  width: 20%;
  height: 50%;
  padding: 1rem;
  color: white;
  line-height: 2rem;
  background: linear-gradient(90deg,var(--color-transparent) 30%, rgba(0,0,0,0%) 70%);
}
.footer-connect{
  position: relative;
  bottom: 130%;
  left: 77.5%;
  width: 20%;
  height: 50%;
  padding: 1rem;
  line-height: 2rem;
  color: white;
  background: linear-gradient(90deg,var(--color-transparent) 30%, rgba(0,0,0,0%) 70%);
}

 /* Product Card Styling */

 .product-card{
  display: flex;
  border: 1px solid black;
  width: 100%;
  margin-top: 1rem;
 }
 .products-image{
  width: 30%;
  height: 200px;
  object-fit: contain;
 }
 .products-description {
  width: 70%;
  padding:1rem;
}
.card-btn-container{
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
}


 /* Filters Styling */
 .filters-container{
  width: 20%;
  height: fit-content;
  padding: 1rem;
 }
.sort-container{
  margin-top: 1rem;
  padding: 0.5rem;
}



/* Store Page Styling */
.store-img{
  width: 100%;
  height: 35vh;
  object-fit: cover;
}
.store-page{
  display: flex;
  width: 100%;
  margin: 0 auto;
}
.products-page{
  width: 80%;
  grid-area: product;
  padding:1rem;
}
.products-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.products-page-header{
  height: fit-content;
}

.btn-hide{
  display: none;
}








/* Responsive Layout */

@media only screen and (max-width: 768px) {
  *{
    font-size: 14px;
  }
  h1{
    font-size: 24px;
  }
  .nav-item-container{
    display: none;
  }
  .nav-item-container-active{
    display: block;
    position: absolute;
    display: flex;
    flex-direction: column;
    top:110%;
    right: 8%;
    padding: 0.5rem;
    background-color: #ffffff;
    box-shadow: 1px 1px 5px black;
  }
  .hamburger {
    cursor: pointer;
    display: block;
  }
  .category-container{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }
  .category-card{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20vh;
  }
  .card-images{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .card-description{
    position: relative;
    top:-24.5%;
    padding: 1rem;
    text-align: center;
    background-color: var(--color-transparent-70);
  }
  .promotion-img-container{
    width: 100%;
    height: 30vh;
  }
  .promotion-description-container{
    position: relative;
    top: -95%;
    left: 5%;
    width: 80%;
    height: fit-content;
    padding-left: 1rem;
    padding-bottom: 1rem;
    background-color: var(--color-transparent);
    background: linear-gradient(90deg,var(--color-transparent) 30%, rgba(0,0,0,0%) 70%);
  }
  .promotion-text{
    font-family: 'Halant', sans-serif;
    font-size: 2rem;
    color: var(--color-60);
  }
  .letter-highlight{
    font-size: 3rem;
    font-weight: bolder;
    font-family: 'Halant', sans-serif;
    color: var(--color-10);
  }
  footer{
    height: 55vh;
  }
  .footer-image-container{
    width: 100%;
    height: 100%;
  }
  .footer-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0;
  }
  .footer-brand{
    position: relative;
    top: -90%;
    width: 45%;
    height: fit-content;
    padding: 0.5rem;
    line-height: 2rem;
    color: white;
    background: linear-gradient(90deg,var(--color-transparent) 30%, rgba(0,0,0,0%) 70%);
  }
  .footer-connect{
    position: relative;
    top: -80%;
    left: 10%;
    width: 45%;
    height: fit-content;
    padding: 1rem;
    line-height: 2rem;
    color: white;
    background: linear-gradient(90deg,var(--color-transparent) 30%, rgba(0,0,0,0%) 70%);
  }

   /* Responsive Card Styling */

 .product-card{
  display: flex;
  flex-direction: column;
 }
 .products-image{
  width: 100%;
  object-fit: contain;
 }
 .products-description {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.card-btn-container{
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
}


  /* Store Responsive */
  .store-img{
    width: 100%;
    height: 20vh;
    object-fit: cover;
  }
  .filters-container{
    display: none;
  }
  .products-page{
    width: 100%;
    padding:1rem;
  }
  .products-page-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .btn-hide{
    display: block;
  }
}
@media only screen and (max-width: 375px){
  *{
    font-size: 12px;
  }
  .card-description{
    position: relative;
    top:-30%;
    padding: 1rem;
    text-align: center;
    background-color: var(--color-transparent-70);
  }
  footer{
    height: 57vh;
  }
}