* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-60: #ffffff;
  --color-30: #F79A1F;
  --color-10: #EB4F47;
  --color-transparent: rgba(255,255,255,10%);
}

ul {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

.nav-bar {
  position: sticky;
  top:0;
  width: 100%;
  padding: 0.5rem 10% 0.5rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  background-color: white;
  box-shadow: 1px 1px 5px black;
}


.logo-container {
  width: fit-content;
}

.nav-item-container {
  height: fit-content;
  width: fit-content;
}
.hamburger{
  display: none;
}
.main-page{
  z-index: -1;
}
.hero-container{
  display: flex;
  margin: 0 auto;
  width: 80%;
}
.hero-image{
  position: relative;
  width: 92%;
  object-fit: cover;
}
.prev-img-btn{
  flex-grow: 1;
  background-color: var(--color-transparent);
  border: none;
  font-size: 1.2rem;
  font-weight: bolder;
}
.next-img-btn{
  flex-grow: 1;
  background-color: var(--color-transparent);
  border: none;
  font-size: 1.2rem;
  font-weight: bolder;
}


@media only screen and (max-width: 768px) {
  .nav-item-container{
    display: none;
  }
  .nav-item-container-active{
    display: block;
    position: absolute;
    display: flex;
    flex-direction: column;
    top:110%;
    right: 8%;
    padding: 0.5rem;
    background-color: #ffffff;
    box-shadow: 1px 1px 5px black;
  }
  .hamburger {
    cursor: pointer;
    display: block;
  }
}